body {
  background-color: blanchedalmond;
  color: darkblue;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: 900;
}

div {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 80px;
}
